header {
    background: linear-gradient(to left, #251360, #465AB8);
    color: white;
}

/* Aside */
.searchBtn {
    background-color: #6892e3;
    color: white;
    height: 37.5px;
    border: none;
    border-radius: .375rem;
    margin: 15px 0;
}

.historyBtn {
    background-color: #aeaeae;
    color: black;
    height: 37.5px;
    border: none;
    border-radius: .375rem;
    margin-top: 15px;
}

.form-control {
    border-color: #aeaeae !important;
}

.line {
    height: 1px;
    background-color: #AEAEAE;
}

h2 {
    margin-right: 10px;
}

/* Weather Containers */
.currentWeather {
    border: 1px solid #aeaeae;
    height: 180px;
}

.currentWeather div {
    margin-top: 10px;
}

.weatherBox {
    background-color: #251360 !important;
}

h6 {
    margin-top: 10px !important;
}